
/MetaTools/MetaTools.pro.user.linux
/MetaToolsPlugin/MetaToolsPlugin.pro.user.linux
/swap_user_file.py
/MetaToolsPlugin-MSVC
/MetaTools-MSVC
/MetaTools/MetaTools.pro.user
/MetaToolsPlugin/MetaToolsPlugin.pro.user
/MetaToolsPlugin-GCC-Release
/MetaTools-GCC-Debug
/MetaTools-GCC-Release
/MetaToolsPlugin-GCC-Debug
/MetaTools/MetaTools.pro.user.windows
/MetaToolsPlugin/MetaToolsPlugin.pro.user.windows
/FontCreator/FontCreator.pro.user
/FontCreator-MSVC