
/MetaTools/MetaTools.pro.user.linux
/MetaToolsPlugin/MetaToolsPlugin.pro.user.linux
/swap_user_file.py
/MetaToolsPlugin-MSVC
/MetaTools-MSVC
/MetaTools/MetaTools.pro.user
/MetaToolsPlugin/MetaToolsPlugin.pro.user
/MetaToolsPlugin-GCC-Release
/MetaTools-GCC-Debug
/MetaTools-GCC-Release
/MetaToolsPlugin-GCC-Debug
/MetaTools/MetaTools.pro.user.windows
/MetaToolsPlugin/MetaToolsPlugin.pro.user.windows
/FontCreator/FontCreator.pro.user
/FontCreator-MSVC
/bin/win32d/plugins/FontCreator.dll.embed.manifest
/bin/win32d/plugins/FontCreator.dll_manifest.rc
/bin/win32d/plugins/FontCreator.dll_manifest.res
/bin/win32d/plugins/FontCreator.exp
/bin/win32d/plugins/FontCreator.ilk
/bin/win32d/plugins/FontCreator.lib
/bin/win32d/plugins/FontCreator.pdb
/bin/win32d/MetaTools.ilk
/bin/win32d/MetaTools.pdb
/bin/win32/plugins/FontCreator.lib
/build-MetaTools-MSVC2010
/build-FontCreator-MSVC2010
/MetaTools-MSVC2010
/FontCreator-MSVC2010